html body {
    margin: 0px;
}

.container {
    max-width: 1280px;
    margin: 0 auto; 
}

@media(max-width: 600px ) {
    .container {
        max-width: 600px;
        padding: 0 15px;
    }
}

@media(min-width: 600px ) {
    .header {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 10px 211.2px;
    }
}

@media(max-width: 600px ) {
    .header {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 10px 15px;
    }
}

.logo {
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 19.13px;
    font-weight: bold;
    padding: 10.44px 21.44px;
}

.menu li {
    display: inline-block;
    font-size: 14.4px;
    margin-left: 30px;
}


.mainvisual{
    max-width: 100%;
    margin: 0 auto;
}

.mainvisual img {
    width: 100%;
}

@media(max-width: 600px ) {
    .mainvisual img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}


.subtitle {
    border-bottom: 1px solid black;
    display: inline-block;
    font-size: 36px;
}

@media(min-width:600px ) {
    .about {
    text-align: center;
    height: 398px;
    }
}

@media(max-width: 600px ) {
    .about{
    text-align: center;
    height: 564px;
    }
}

@media(min-width: 600px ) {
    .about h1{
    margin-top: 80px;
    margin-bottom: 70px;
    text-align: center;
    }
}

@media(max-width: 600px ) {
    .about h1{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    }
}


@media(min-width: 600px ) {
    .aboutcontent {
    display: flex;
    justify-content: center;
    height: 100px;
    }
    
@media(max-width: 600px ) {
    .aboutcontent {
    justify-content: center;
    }
}

.aboutcontent img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    }

@media(min-width: 600px ) {
    .abouttexts {
    text-align: left;
    margin-left: 30px;
    }
}
    
@media(max-width: 600px ) {
    .abouttexts {
    text-align: left;
    }
}

@media(max-width: 600px ) {
    .aboutcontent {
    justify-content: center;
    }

.aboutcontent img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    }

.abouttexts {
    text-align: left;
    }
}

h2 {
    font-size: 16px;
    line-height: 0px;
}

.abouttext{
    font-size: 14.4px;
    padding-top: 10px;
}

@media(min-width: 600px ) {
    .abouttext p {
    line-height: 5px;
    margin-top: 0px;
    }
}

@media(max-width: 600px ) {
    .abouttext p {
    line-height: 14px;
    }
}

@media(min-width: 600px ) {
    .bicycle {
    text-align: center;
    height: 418px;
    }
}

@media (max-width: 600px ) {
    .bicycle {
    text-align: center;
    height: 1112px;
    }
}

.bicycle h1 {
    margin-top: 0px;
    margin-bottom: 60px;
}

@media(min-width: 600px ) {
    .column {
    max-width: 858px;
    display: flex; 
    margin: 0 auto;
    gap: 17.2px;
    }
}

@media(max-width: 600px ) {
    .column {
        max-width: 600px
    }
}

@media (min-width: 600px ) {
    .photo {
    max-height: 182px;
    max-width: 274.4px;
    }
}

.photo img {
    width: 100%;
    padding-top: 
}

.phototext {
    padding-top: 10px;
}

@media(max-width: 600px ) {
    .phototext {
        padding-bottom: 30px;
    }
}


.footer {
    text-align: center;
}